<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/style.css">
    <!-- <link rel="stylesheet" href="styles.css"> <!-1- Подключаем внешний CSS файл -1-> -->


</head>
<body>

    <div id="users">
      <h4>Пользователи</h4>
        <ul id="user-list" class="list-unstyled">
            <!-- Список пользователей будет добавляться сюда -->
        </ul>
    </div>

    <div id="chat-container">
        <h1 class="mt-2">Chat</h1>
        <div id="chat-box">
            <!-- Сообщения будут добавляться сюда -->
        </div>
        <div class="input-group">
            <input type="text" id="message-input" class="form-control" placeholder="Введите сообщение...">
            <div class="input-group-append">
                <button id="send-button" class="btn btn-primary">Отправить</button>
            </div>
        </div>
    </div>

    <div id="placeholder">
    </div>
    <script src="/static/script.js" defer></script>
</body>
</html>

