body {
    display: flex;
    height: 100vh;
}



#users {
    width: 300px;
    background-color: #ffffff;
    border-right: 1px solid #ddd;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    overflow-y: auto;
    border-radius: 5px; /* Закругленные углы */
}

#chat-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 20px 5px 50px 5px;
}

#chat-box {
    flex: 1;
    overflow-y: scroll;
    border: 1px solid #ccc;
    padding: 10px;
    background-color: #ffffff;
    margin-bottom: 10px;
    font-size: 20px;
}

.input-group {
    width: 100%;
}

#users h3 {
    margin-bottom: 20px;
    font-size: 1.5rem;
    color: #333;
    text-align: center; /* Центрируем заголовок */
}

ul, li{
    list-style: none; /* Убираем маркеры списка */
    padding: 0;
}

li {
    padding: 10px 15px; /* Отступы для элементов списка */
    border-radius: 5px; /* Закругленные углы */
    transition: background-color 0.3s, color 0.3s; /* Плавный переход */
    cursor: pointer; /* Указатель при наведении */
}

li:hover {
    background-color: #e9ecef; /* Цвет фона при наведении */
    color: #007bff; /* Цвет текста при наведении */
}

li.active {
    background-color: #007bff; /* Цвет фона для активного пользователя */
    color: white; /* Цвет текста для активного пользователя */
}

#right_block {
    width: 300px;
    background-color: #ffffff;
    border-right: 1px solid #ddd;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    overflow-y: auto;
    border-radius: 5px; /* Закругленные углы */
    text-align: center;
}
